@model WebApp1.Models.CalcModel
@{
    ViewBag.Title = "PassUsingModel - Backend1";
}

<h1>PassUsingModel</h1>
<b>Rand value first:</b> @Model.X
<br />
<b>Rand value second:</b> @Model.Y
<br />

<b>Add:</b>
<br />
@Model.Add
<br />

<b>Sub:</b>
<br />
@Model.Sub
<br />

<b>Mult:</b>
<br />
@Model.Mult
<br />

<b>Div:</b>
<br />
@Model.Div
<br />
